@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-weight: bold;
  /* font-size: 3.5em !important; */
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  margin: auto 10px;
  letter-spacing: 1px;
}

.header-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 0 10%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.carousel-control-next,
.carousel-control-prev {
  width: 8% !important;
  z-index: 2 !important;
}

.carousel-item > img {
  height: 100vh;
  width: 100vw;
  min-height: 350px;
  object-fit: cover;
  object-position: center; /* Center the image within the element */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-footer {
  background-color: rgb(36, 36, 36);
}

.navbar {
    transition: background-color 200ms linear;
}

.scrolled {
  background-color: rgb(36, 36, 36) !important;
}

/* custom inputs */
.transparent-input {
  border-radius: 99999px;
  border: solid 1px rgba(255,255,255,.5);
  background-color: rgba(0, 0, 0, 0.20);
  color: rgba(255,255,255,.5);
  padding: 4px 10px;
}
/* end */

.search-button {
  background-color: rgba(255, 0, 0, 0.01);
  border: none;
}

.img-advantage {
  width: 100px;
  margin: 2.5em;
}
